<section class="py-3 sm:py-12   text-gray-800">
    <div class="space-y-2 text-center">
        <h2 class="text-3xl font-bold">New Books Added</h2>
        <p class="font-serif text-sm text-gray-600">The Choice is yours... The Knowledge is yours...</p>
    </div>
    <div class="container p-6 mx-auto space-y-8">
        <div class="grid  gap-x-6 gap-y-8 grid-cols-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6">
            <article class="flex flex-col bg-gray-50 rounded hover:drop-shadow-xl  transition duration-500 ease-in-out" *ngFor="let item of booksDetails">
                <a [routerLink]="['book',item.isbn13]">
                    <img class="object-cover w-full h-52 mt-2" src="{{item.image}}">
                </a>
                <div class="flex flex-col flex-1 p-3">
                    <p class="flex-1 py-2 text-sm font-semibold leadi">{{item.title}}</p>
                    <p class="text-end text-2xl">{{item?.price}}</p>
                    <button class="py-2 bg-yellow-500 rounded text-black" (click)="addCart(item?.isbn13)">
                        <fa-icon [icon]="cartIcon"></fa-icon>
                    </button>
                </div>
            </article>
        </div>
        

    </div>
</section>