<nav class="px-4 py-2 bg-emerald-800 text-gray-800">
    <div class="container mx-auto flex justify-between items-center">
        <!-- Logo and Brand -->
        <a href="" class="flex items-center justify-center">
            <!-- <span class=" cursor-pointer">
                <img class="h-14 inline" src="assets/images/logo.png" alt="">
            </span> -->
            <p class="text-2xl font-extrabold text-white ml-2">YourBooks</p>
        </a>
        <!-- Mobile Menu Button -->
        <div class="md:hidden">
            <button class="text-white outline-none border-none text-2xl" (click)="toggleMenu()">
                <fa-icon [icon]="menuIcon"></fa-icon>
            </button>
        </div>
        <!-- Desktop Menu Items -->
        <ul class="hidden md:flex space-x-4 items-center justify-center">
            <li>
                <a rel="noopener noreferrer" routerLink=""
                    class="flex items-center flex-shrink-0 px-5 py-2 border-b-4 dark:border-yellow-400 dark:text-white">Home</a>
            </li>
            <li>
                <a rel="noopener noreferrer" routerLink="/cart"
                    class="flex items-center flex-shrink-0 px-5 py-2 border-b-4 dark:border-gray-700 dark:text-gray-400">Cart<fa-icon
                        [icon]="cartIcon"></fa-icon></a>
            </li>
            <li>
                <div class="relative">
                    <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                        <button type="submit" title="Search" class="p-1 focus:outline-none focus:ring">
                            <svg fill="currentColor" viewBox="0 0 512 512" class="w-4 h-4 text-gray-800">
                                <path
                                    d="M479.6,399.716l-81.084-81.084-62.368-25.767A175.014,175.014,0,0,0,368,192c0-97.047-78.953-176-176-176S16,94.953,16,192,94.953,368,192,368a175.034,175.034,0,0,0,101.619-32.377l25.7,62.2L400.4,478.911a56,56,0,1,0,79.2-79.195ZM48,192c0-79.4,64.6-144,144-144s144,64.6,144,144S271.4,336,192,336,48,271.4,48,192ZM456.971,456.284a24.028,24.028,0,0,1-33.942,0l-76.572-76.572-23.894-57.835L380.4,345.771l76.573,76.572A24.028,24.028,0,0,1,456.971,456.284Z">
                                </path>
                            </svg>
                        </button>
                    </span>
                    <input type="search" name="Search" placeholder="Search..."
                        class="w-32 py-2 pl-10 text-sm rounded-md sm:w-auto focus:outline-none bg-gray-100 text-gray-800 focus:bg-gray-50">
                </div>
            </li>
            <li>
                <button type="button" routerLink="/login"
                    class="hidden px-6 py-2 font-semibold rounded lg:block bg-orange-500 text-gray-50"><fa-icon [icon]="loginIcon"></fa-icon> Log in</button>
            </li>
        </ul>

    </div>

    <!-- Mobile Menu (Hidden by default) -->
    <ul class="md:hidden mt-2 space-y-2 text-white ml-10" [ngClass]="{ 'block': isMenuOpen, 'hidden': !isMenuOpen }">
        <li>
            <a href="#" class="block py-2 pl-4 pr-8 hover:bg-gray-700">
                <fa-icon [icon]="homeIcon"></fa-icon> Home
            </a>
        </li>
        <li>
            <a href="#" class="block py-2 pl-4 pr-8 hover:bg-gray-700">
                <fa-icon [icon]="bookIcon"></fa-icon> All Books
            </a>
        </li>
        <li>
            <a href="#" class="block py-2 pl-4 pr-8 hover:bg-gray-700">
                <fa-icon [icon]="cartIcon"></fa-icon> Cart
            </a>
        </li>
        <li>
            <button class="text-white hover:text-gray-300 bg-yellow-400 px-6 py-2 rounded">
                <fa-icon [icon]="loginIcon"></fa-icon> Login
            </button>
        </li>
    </ul>
</nav>
