<app-navbar></app-navbar>

<div class="flex justify-center">
    <div class="flex flex-col px-2 space-y-4 ">
        <h2 class="text-3xl text-center font-bold">Your Cart</h2>
        <ng-container *ngIf="bookDetails.length > 0; else emptyCart">
            <ul class="flex flex-col divide-y divide-gray-700">
                <li class="flex flex-col py-6 sm:flex-row sm:justify-between " *ngFor="let items of bookDetails">
                    <div class="flex w-full space-x-2 sm:space-x-4">
                        <img class="flex-shrink-0 object-cover w-20 h-20 dark:border-transparent rounded outline-none sm:w-32 sm:h-32 dark:bg-gray-500"
                            [src]="items.image" alt="Polaroid camera">
                        <div class="flex flex-col justify-between w-full pb-4">
                            <div class=" w-full pb-2 space-x-2">
                                <h3 class="text-lg font-semibold leading-tight sm:pr-8">{{items.title}}</h3>
                                <div class="flex  justify-between items-center">
                                    <p class="text-sm dark:text-gray-400">{{items.language}}</p>
                                    <p class="text-lg font-semibold">₹ {{ calculateTotalPrice(items)| currencyConverter
                                        }}</p>
                                </div>
                            </div>
                            <div class="flex justify-between items-center">
                                <div class="flex gap-2">
                                    <button class="bg-red-500 text-white font-semibold px-4 py-2 rounded"
                                        (click)="decrement(items.isbn13)">-</button>
                                    <input class="bg-gray-300 outline-none px-4 py-2 rounded w-12 text-center"
                                        [value]="items.count" type="text">
                                    <button class="bg-green-500 text-white font-semibold px-4 py-2 rounded"
                                        (click)="increment(items.isbn13)">+</button>
                                </div>
                                <div class="flex divide-x">
                                    <button type="button" (click)="remove(items.isbn13)"
                                        class="flex gap-2 items-center px-4 py-1 text-white bg-red-600 rounded">
                                        <fa-icon [icon]="trash"></fa-icon>
                                        <span class="text-sm">Remove</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>



            <div class="space-y-1 text-right">
                <p>Total amount:
                    <span class="font-semibold">₹ {{ calculateSubtotal() | currencyConverter }}</span>
                </p>
                <p class="text-sm dark:text-gray-400">Not including taxes and shipping costs</p>
            </div>
            <div class="flex justify-end space-x-4">
                <button routerLink="" type="button" class="px-6 py-2 border rounded-md dark:border-violet-400">Back
                    <span class="sr-only sm:not-sr-only">to shop</span>
                </button>
                <button type="button"
                    class="px-6 py-2 border rounded-md dark:bg-violet-400 dark:text-gray-900 dark:border-violet-400">
                    <span class="sr-only sm:not-sr-only">Continue to</span>Checkout
                </button>
            </div>
        </ng-container>
        <ng-template #emptyCart >
            <div class="flex flex-col" routerLink="">
                <fa-icon class="text-[250px] text-yellow-500" [icon]="cartIcon"></fa-icon>
                <h1 class="text-2xl xt-lg font-semibold text-center">No items in your cart.</h1>
            </div>
        </ng-template>
    </div>
</div>